{% extends "base.html" %}
{% block body %}
<!-- Slider
================================================== -->

<div id="homeSlider" class="royalSlider rsDefaultInv">
    {% for k in recommend %}
    <!-- Slide #1 -->
	<div class="rsContent">
        <a class="rsImg" href="{{ k.image_url }}"></a>
		<i class="rsTmb">{{ k.title }}</i>

		<!-- Slide Caption -->
		<div class="SlideTitleContainer rsABlock">
		<div class="CaptionAlignment">
			<div class="rsSlideTitle tags">
				<ul>
					<li>{{ k.series }}</li>
				</ul>
				<div class="clearfix"></div>
			</div>

            <h2 class="rsSlideTitle title"><a href="{%url "detail" %}?id={{ k.id }}">{{ k.title }}</a></h2><div style="color: #fff;">{{ k.p }}</div>

			<div class="rsSlideTitle details">
				<ul>
					<li><i class="fa fa-cutlery"></i> {{ k.comment }}</li>
					<li><i class="fa fa-clock-o"></i> {{ k.likes }}</li><br>
					<li> 工艺:{{ k.flavor }}</li>
					<li> 口味:{{ k.technology }}</li>
{#					<li><i class="fa fa-user"></i> by <a href="#">{{ k.contributor }}</a></li>#}
				</ul>
			</div>

			<a href="{%url "detail" %}?id={{ k.id }}" class="rsSlideTitle button">了解详情</a>
		</div>
		</div>
	</div>
{% endfor %}

	</div>





<!-- Content
================================================== -->
<div class="container">

	<!-- Masonry -->
	<div class="twelve columns">

		<!-- Headline -->
 		<h3 class="headline">最新菜谱</h3>
		<span class="line rb margin-bottom-35"></span>
		<div class="clearfix"></div>

		<!-- Isotope -->
		<div class="isotope">
            {% for i in lastest  %}
			<!-- Recipe #1 -->
			<div class="four recipe-box columns">

				<!-- Thumbnail -->
				<div class="thumbnail-holder">
					<a href="{%url "detail" %}?id={{ i.id }}">
						<img src="{{ i.image_url }}" alt=""/>
						<div class="hover-cover"></div>
						<div class="hover-icon">查看菜谱</div>
					</a>
				</div>

				<!-- Content -->
				<div class="recipe-box-content">
					<h3><a href="?">{{ i.title }}</a></h3>

					<div class="rating five-stars">
{#						<div class="star-rating"></div>#}
{#						<div class="star-bg"></div>#}
                        <h6>{{ i.comment }}评论</h6>
                         <div class="comment">
                            <span>..</span>0
                         </div>

                    </div>

					<div class="recipe-meta"><i class="like {{ i.id }}" id="{{ i.id }}">&#10084;</i> {{ i.likes }}</div>

					<div class="clearfix"></div>
				</div>
			</div>
            {% endfor %}


		</div>
		<div class="clearfix"></div>

		<!-- Pagination -->
		<div class="pagination-container masonry">
			<nav class="pagination">
				<ul>
                {% for i in lastest.paginator.page_range %}

                    {% if lastest.number == i %}
					<li><a href="?page={{ i }}" class="current-page">{{ i }}</a></li>
                    {% else %}
					<li><a href="?page={{ i }}">{{ i }} </a></li>
                    {% endif %}
                {% endfor %}
				</ul>

			</nav>

			<nav class="pagination-next-prev">
				<ul>
                    {% if lastest.has_previous %}
					<li><a href="?page={{ lastest.previous_page_number }}" class="prev"></a></li>
                    {% endif %}
                    {% if lastest.has_next %}
					<li><a href="?page={{ lastest.next_page_number }}" class="next"></a></li>
                    {% endif %}
				</ul>
			</nav>
		</div>

	</div>


<!-- Sidebar
================================================== -->
<div class="four columns">

	<!-- Search Form -->
	<div class="widget search-form">
		<nav class="search">
			<form action="{% url "search" %}" method="get">
                {% csrf_token %}
				<button><i class="fa fa-search"></i></button>
				<input class="search-field" type="text" placeholder="搜寻美食..." value="" name="q"/>
			</form>
		</nav>
		<div class="clearfix"></div>
	</div>

{#作者框#}
{#	<!-- Author Box -->#}
{#	<div class="widget">#}
{#		<div class="author-box">#}
{#			<span class="title">Author</span>#}
{#			<span class="name">Sandra <br> Fortin</span>#}
{#			<span class="contact"><a href="mailto:sandra@chow.com">sandra@chow.com</a></span>#}
{#			<img src="/static/images/author-photo.png" alt="">#}
{#			<p>I'm Sandra and this is where I share my stuff. I am madly in love with food. You will find a balance of healthy recipes, comfort food and indulgent desserts.</p>#}
{#		</div>#}
{#	</div>#}


	<!-- Popular Recipes -->
	<div class="widget">
		<h4 class="headline">排行榜</h4>
		<span class="line margin-bottom-30"></span>
		<div class="clearfix"></div>

		<!-- Recipe #1 -->
        {% for i in ranking  %}
		<a href="{%url "detail" %}?id={{ i.id }}" class="featured-recipe">
{#			<img src="/static/images/featuredRecipe-01.jpg" alt="">#}
            <img src="{{ i.image_url }}" alt="">
			<div class="featured-recipe-content">
				<h4> {{ forloop.counter }} {{ i.title }}</h4>

				<div class="rating five-stars">
{#					<div class="star-rating"></div>#}
					<div class="star-bg"></div>
				</div>
			</div>
			<div class="post-icon"></div>
		</a>
        {% endfor %}


		<div class="clearfix"></div>
	</div>


</div>


</div>
<!-- Container / End -->
 <script>
            $(".like").click(function () {
                console.log(id);
                 $.ajax({
                url: "{% url 'add_collection' %}",
                type:'GET',
                cache:false,
                success:function(data){
                   console.log(data);
                    $(".like"+id ).attr('class','cs');

                },
                error:function(xhr){
                    console.log(xhr);
                }

            });
            return false
        })

    </script>
<div class="margin-top-5"></div>

{% endblock %}

