{% extends "base.html" %}
{% block body %}
<section id="titlebar">
	<!-- Container -->
	<div class="container">

		<div class="eight columns">
			<h2>Index</h2>
		</div>

		<div class="eight columns">
			<nav id="breadcrumbs">
				<ul>
					<li>你在:</li>
					<li><a href="{% url "index" %}">主页</a></li>
				</ul>
			</nav>
		</div>

	</div>
	<!-- Container / End -->
</section>
<!-- Slider
================================================== -->






<!-- Content
================================================== -->
<div class="container">
    <div id="homeSlider" class="royalSlider rsDefaultInv">
    {% for k in recommend %}
    <!-- Slide #1 -->
	<div class="rsContent">
        <a class="rsImg" href="{{ k.image_url }}"></a>
		<i class="rsTmb">{{ k.title }}</i>

		<!-- Slide Caption -->
		<div class="SlideTitleContainer rsABlock">
		<div class="CaptionAlignment">
			<div class="rsSlideTitle tags">
				<ul>
					<li>{{ k.series }}</li>
				</ul>
				<div class="clearfix"></div>
			</div>

            <h2 class="rsSlideTitle title"><a href="{%url "detail" %}?id={{ k.id }}">{{ k.title }}</a></h2>
            <p style="color: #fff;width: 1000px">{{ k.p }}</p>

			<div class="rsSlideTitle details">
				<ul>
					<li><i class="fa fa-cutlery"></i> {{ k.comment }}</li>
					<li><i class="fa fa-clock-o"></i> {{ k.likes }}</li><br>
					<li> 工艺:{{ k.flavor }}</li>
					<li> 口味:{{ k.technology }}</li>
{#					<li><i class="fa fa-user"></i> by <a href="#">{{ k.contributor }}</a></li>#}
				</ul>
			</div>

			<a href="{%url "detail" %}?id={{ k.id }}" class="rsSlideTitle button">了解详情</a>
		</div>
		</div>
	</div>
{% endfor %}

	</div>

	<!-- Masonry -->

    <div class="five column w705 overflow fl">

        <script type="text/javascript" src="/static/js/koala.min.1.5.js"></script>
        <div id="fsD1" class="focus">
            <div id="D1pic1" class="fPic">
                {% for i in image_urls %}
                <div class="fcon" style="display: none;">
                   <img src="{{ i }}" style="opacity: 1; width: 700px;height:400px;">
                </div>
                 {% endfor %}
            </div>
            <div class="fbg">
                <div class="D1fBt" id="D1fBt">
                    <a href="javascript:void(0)" hidefocus="true" target="_self" class=""></a>
                    <a href="javascript:void(0)" hidefocus="true" target="_self" class=""></a>
                    <a href="javascript:void(0)" hidefocus="true" target="_self" class=""></a>
                    <a href="javascript:void(0)" hidefocus="true" target="_self" class=""></a>
                </div>
            </div>
            <span class="prev"></span>
            <span class="next"></span>
        </div>
        <script type="text/javascript">
            Qfast.add('widgets', {path: "/static/js/terminator2.2.min.js", type: "js", requires: ['fx']});
            Qfast(false, 'widgets', function () {
                K.tabs({
                    id: 'fsD1',   //焦点图包裹id
                    conId: "D1pic1",  //** 大图域包裹id
                    tabId: "D1fBt",
                    tabTn: "a",
                    conCn: '.fcon', //** 大图域配置class
                    auto: 1,   //自动播放 1或0
                    effect: 'fade',   //效果配置
                    eType: 'click', //** 鼠标事件
                    pageBt: true,//是否有按钮切换页码
                    bns: ['.prev', '.next'],//** 前后按钮配置class
                    interval: 3000  //** 停顿时间
                })
            })
        </script>

    </div>
    <!-- Sidebar
================================================== -->
<div class="four columns">

	<!-- Search Form -->
	<div class="widget search-form">
		<nav class="search">
			<form action="{% url "search" %}" method="get">
                {% csrf_token %}
				<button><i class="fa fa-search"></i></button>
				<input class="search-field" type="text" placeholder="搜寻美食..." value="" name="q"/>
			</form>
		</nav>
		<div class="clearfix"></div>
	</div>




	<!-- Popular Recipes -->
	<div class="widget">
{#		<h4 class="headline">排行榜</h4>#}
{#		<span class="line margin-bottom-30"></span>#}
{#		<div class="clearfix"></div>#}

{#		<!-- Recipe #1 -->#}
{#        {% for i in ranking  %}#}
{#		<a href="{%url "detail" %}?id={{ i.id }}" class="featured-recipe">#}
{#            <img src="{{ i.image_url }}" alt="">#}
{#			<div class="featured-recipe-content">#}
{#				<h4> {{ forloop.counter }} {{ i.title }}</h4>#}
{#			</div>#}
{#			<div class="post-icon"></div>#}
{#		</a>#}
{#        {% endfor %}#}
        <div class="eight columns">
		<h3 class="headline">排行榜</h3><span class="line margin-bottom-3-"></span><div class="clearfix"></div>

		<!-- Tabs Navigation -->
		<ul class="tabs-nav">
            {% for i in ranking  %}
			<li ><a href="{% url "detail" %}?id={{ i.id }}">{{ forloop.counter }}.{{ i.title }}</a></li>
             {% endfor %}
		</ul>

	<br>
	</div>


		<div class="clearfix"></div>
	</div>


</div>
<div class="sixteen columns">
		<!-- Headline -->
 		<h3 class="headline">最新菜谱</h3>
		<span class="line rb margin-bottom-35"></span>
		<div class="clearfix"></div>

		<!-- Isotope -->
		<div class="isotope">
            {% for i in rand  %}
			<!-- Recipe #1 -->
			<div class="four recipe-box columns">

				<!-- Thumbnail -->
				<div class="thumbnail-holder">
					<a href="{%url "detail" %}?id={{ i.id }}">
						<img src="{{ i.image_url }}" alt=""/>
						<div class="hover-cover"></div>
						<div class="hover-icon">查看菜谱</div>
					</a>
				</div>

				<!-- Content -->
				<div class="recipe-box-content">
					<h3><a href="?">{{ i.title }}</a></h3>

					<div class="rating five-stars">
{#						<div class="star-rating"></div>#}
{#						<div class="star-bg"></div>#}
                        <h6>{{ i.comment }}评论</h6>
                         <div class="comment">
                            <span>..</span>0
                         </div>

                    </div>

					<div class="recipe-meta"><i class="like {{ i.id }}" id="{{ i.id }}">&#10084;</i> {{ i.likes }}</div>

					<div class="clearfix"></div>
				</div>
			</div>
            {% endfor %}


		</div>
		<div class="clearfix"></div>



	</div>





</div>
<!-- Container / End -->
 <script>
            $(".like").click(function () {
                console.log(id);
                 $.ajax({
                url: "{% url 'add_collection' %}",
                type:'GET',
                cache:false,
                success:function(data){
                   console.log(data);
                    $(".like"+id ).attr('class','cs');

                },
                error:function(xhr){
                    console.log(xhr);
                }

            });
            return false
        })

    </script>
<div class="margin-top-5"></div>

{% endblock %}

