{% extends "base.html" %}
{% block body %}
<!-- Recipe Background -->
<div class="recipeBackground">
	<img src="/static/images/recipeBackground.jpg" alt="" />
</div>


<!-- Content
================================================== -->
<div class="container" itemscope itemtype="http://schema.org/Recipe">

	<!-- Recipe -->
	<div class="twelve columns">
	<div class="alignment">

		<!-- Header -->
		<section class="recipe-header">
			<div class="title-alignment">
				<h2>{{ item.title }}</h2>
{#				<div class="rating five-stars">#}
{#					<div class="star-rating"></div>#}
{#					<div class="star-bg"></div>#}
{#				</div>#}
				<span><a href="#reviews"></a></span>
			</div>
		</section>


		<!-- Slider -->
		<div class="recipeSlider rsDefault">
		    <img itemprop="image" class="rsImg" src="{{ item.image_url }}" alt="" />

		</div>


		<!-- Details -->
		<section class="recipe-details" itemprop="nutrition">
			<ul>
				<li>点赞: <strong itemprop="recipeYield">{{ item.likes }}</strong></li>
				<li>评论: <strong itemprop="prepTime">{{ item.comment }}</strong></li>
				<li>标签: <strong itemprop="cookTime">{{ item.series }}</strong></li>
				<li>Calories: <strong itemprop="calories">632 kcal</strong></li>
			</ul>
			<a href="#" class="print"><i class="fa fa-print"></i> Print</a>
			<div class="clearfix"></div>
		</section>


		<!-- Text -->
		<p itemprop="description">{{ p }}</p>


		<!-- Ingredients -->
		<h3>用料</h3>
		<ul class="ingredients">

            {% for k,v in main.items %}
			<li>

				<label itemprop="ingredients" for="check-1">主料{{ forloop.counter }}:&emsp;{{ v }}</label>
			</li>
            {% endfor %}
            {% for i in aux %}
            <li>

				<label itemprop="ingredients" for="check-1">辅料{{ forloop.counter }}:&emsp;{{ i }}</label>
			</li>
            {% endfor %}
		</ul>


		<!-- Directions -->
		<h3>做法</h3>
		<ol class="directions" itemprop="recipeInstructions">
            {% for k,v in mea.items %}
			<li >{{ k }}</li>
            <div style="width: 400px; border: 1px solid #000; height: auto;">
            <img  src="{{ v }}" style="width: 380px; margin: 10px;" alt="">
            </div>

            {% endfor %}
        {% for i in mea_tip %}
             <li >{{ i }}</li>
        {% endfor %}
		</ol>


{#		<!-- Share Post -->#}
{#		<ul class="share-post">#}
{#			<li><a href="#" class="facebook-share">Facebook</a></li>#}
{#			<li><a href="#" class="twitter-share">Twitter</a></li>#}
{#			<li><a href="#" class="google-plus-share">Google Plus</a></li>#}
{#			<li><a href="#" class="pinterest-share">Pinterest</a></li>#}
{##}
{#			<!-- <li><a href="#add-review" class="rate-recipe">Add Review</a></li> -->#}
{#		</ul>#}
		<div class="clearfix"></div>


		<!-- Meta -->
<!--  		<div class="post-meta">
			By <a href="#" itemprop="author">Sandra Fortin</a>, on
			<meta itemprop="datePublished" content="2014-30-10">30th November, 2014</meta>
		</div>  -->


		<div class="margin-bottom-40"></div>


		<!-- Headline -->
 		<h3 class="headline">你或许喜欢</h3>
		<span class="line margin-bottom-35"></span>
		<div class="clearfix"></div>

		<div class="related-posts">
            {% for i in recommend %}
		<!-- Recipe #1 -->
			<div class="four recipe-box columns">
				<!-- Thumbnail -->
				<div class="thumbnail-holder">
					<a href="{% url "detail" %}?id={{ i.id }}">
						<img src="{{ i.image_url }}" alt=""/>
						<div class="hover-cover"></div>
						<div class="hover-icon">查看</div>
					</a>
				</div>

				<!-- Content -->
				<div class="recipe-box-content">
					<h3><a href="#">{{ i.title }}</a></h3>
					<div class="recipe-meta">{{ i.likes }}</div>

					<div class="clearfix"></div>
				</div>
			</div>
  {% endfor %}
				</div>
			</div>
		</div>
		<div class="clearfix"></div>


		<div class="margin-top-15"></div>


		<!-- Comments
		================================================== -->
		<h3 class="headline">全部评论({{ item.comment }})<span class="comments-amount"></span></h3><span class="line"></span><div class="clearfix"></div>

			<!-- Reviews -->
			<section class="comments" id="reviews">

				<ul>
                    {% for i in comments %}


					<li>
						<div class="avatar"><img src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;s=70" alt="" /></div>
						<div class="comment-content" id="comment-content"><div class="arrow-comment"></div>
							<div class="comment-by"><strong>{{ i.comment_user.username }}</strong>&emsp;{{ i.comment_time|date:"Y-m-d H:i:s" }}
								<a href="#" class="reply"><i class="fa fa-reply"></i> 回复</a>
							</div>
							<p>{{ i.comment_text|safe }}</p>
						</div>

{#						<!-- Second Level -->#}
{#						<ul>#}
{#							<li>#}
{#								<div class="avatar"><img src="/static/images/author-photo.png" alt="" /></div>#}
{#								<div class="comment-content"><div class="arrow-comment"></div>#}
{#								<div class="comment-by"><strong>Sandra Fortin</strong><span class="date">7th, October 2014</span>#}
{#								<a href="#" class="reply"><i class="fa fa-reply"></i> Reply</a>#}
{#								</div>#}
{#								<p>Donec porttitor tortor sit amet tortor egestas, id suscipit magna cursus. Nam facilisis, mi vel elementum porttitor, sapien magna posuere lorem, sed consectetur.</p>#}
{#								</div>#}
{#							</li>#}
{#						</ul>#}

					</li>
                    {% empty %}
                        暂无评论
                    {% endfor %}
				 </ul>

			</section>
			<div class="clearfix"></div>
			<br>


		<!-- Add Comment
		================================================== -->

		<h3 class="headline">提交评论</h3><span class="line margin-bottom-35"></span><div class="clearfix"></div>

             <!-- Add Comment Form -->
		<form id="add-review" class="add-comment" action="" method="post" name="add_review">
        {% csrf_token %}
			<fieldset>
				<div class="clearfix"></div>
				<div>
					<label>用户<strong>{{ user }}</strong>,请输入评论内容: <span>*</span></label>
                    <input type="hidden" name="object_id" value="{{ item.id }}">
                    <input type="hidden" name="content_type" value="Item">
{#					<textarea cols="40" rows="3" name="text"></textarea>#}
                    {{ form.as_p }}

				</div>
			</fieldset>
{#			<a  class="button medium color" onclick="javascript:document.add_review.submit();">评论</a>#}

            <input type="submit" style="min-width: 40px;" value="评论" >

			<div class="clearfix"></div>
		</form>

		    <a href="{% url "login" %}" class="medium color">未登录?点击此处跳转至登录界面</a>
	</div>

{% endblock %}

{% block script_ajax  %}
    {% load static %}
    <script type="application/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="application/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
    <script type="application/javascript">
        $("#add-review").submit(function(){
            CKEDITOR.instances["id_comment_text"].updateElement();
            //异步提交
            $.ajax({
                url: "{% url 'comment' %}",
                type:'POST',
                data:$(this).serialize(),
                cache:false,
                success:function(data){
                    console.log(data);
                    if(data['status']=='SUCCESS'){
                    var comment_html = '<div class="arrow-comment"></div><div class="comment-by"><strong>'+data["comment_user"]+'</strong>&emsp;'+data["comment_time"]+'<a href="#" class="reply"><i class="fa fa-reply"></i> 回复</a> </div> <p>'+data["comment_text"]+'</p>';
                    $('#comment-content').prepend(comment_html);
                    CKEDITOR.instances["id_comment_text"].setData("");
                    }else{

                    }
                },
                error:function(xhr){
                    console.log(xhr);
                }

            });
            return false
        });
    </script>
{% endblock %}
