{% extends "base.html" %}
{% block body %}

<!-- Titlebar
================================================== -->
<section id="titlebar">
	<!-- Container -->
	<div class="container">

		<div class="eight columns">
			<h2>Shop</h2>
		</div>

		<div class="eight columns">
			<nav id="breadcrumbs">
				<ul>
					<li>你在:</li>
					<li><a href="{% url "index" %}">主页</a></li>
					<li><a href="{% url "shop:index" %}">商店</a></li>
					<li>商品详情</li>
				</ul>
			</nav>
		</div>

	</div>
	<!-- Container / End -->
</section>



<!-- Content
================================================== -->


<div class="container">

<!-- Slider
================================================== -->
	<div class="eight columns" >
		<!-- Slider -->
		<div class="productSlider rsDefault">
		    <img class="rsImg" src="{{ shop_item.image }}" alt="" />
		</div>
		<div class="clearfix"></div>
	</div>


<!-- Content
================================================== -->
	<div class="eight columns">
		<div class="product-page">

			<!-- Headline -->
			<section class="title">
				<h2>{{ shop_item.title }}</h2>
				<div class="product-price">{{shop_item.price}}</div>

			</section>

			<!-- Text Parapgraph -->
			<section>
                <p class="margin-reset"></p>

			</section>


			<section class="linking">

					<form action='#'>
                        {% csrf_token %}
						<div class="qtyminus"></div>
						<input type='text' name="quantity" value='1' class="qty" />
						<div class="qtyplus"></div>
					</form>
                    <div>
					<a href="javascript:;" class="button adc color" id="add_cart" shop_id="{{ shop_item.id }}">加入购物车</a>
                    <a href="#" class="button color adc" >立即购买</a>
                    </div>
					<div class="clearfix"></div>

			</section>
<script type="text/javascript">

    $('#add_cart').click(function(){
        // 获取商品的id和商品数量
        var shop_id = $(this).attr('shop_id');
        var shop_count = $('.qty').val();
        var csrf = $('input[name="csrfmiddlewaretoken"]').val();
        // 发起请求，访问/cart/add/, 进行购物车数据的添加
        var params = {
            'shop_id': shop_id,
            'shop_count': shop_count,
            'csrfmiddlewaretoken': csrf
        }


        $.post('/shop/cart/add/', params, function (data) {
            if (data.res == 5){
                // 添加成功
                alert("添加成功")
            } else {
                // 添加失败
                alert(data.errmsg)
            }
        })
    })
</script>

		</div>
	</div>

</div>


<div class="clearfix"></div>
<div class="margin-top-30"></div>


<div class="container">
	<div class="sixteen columns">
			<!-- Tabs Navigation -->
			<ul class="tabs-nav">
				<li class="active"><a href="#tab1">Item Description</a></li>
				<li><a href="#tab2">Additional Information</a></li>
				<li><a href="#tab3">Reviews <span class="tab-reviews">(0)</span></a></li>
			</ul>

			<!-- Tabs Content -->
			<div class="tabs-container">

				<div class="tab-content" id="tab1">
					<p>Lorem ipsum pharetra lorem felis. Aliquam egestas consectetur elementum class aptentea taciti sociosqu ad litora torquent perea conubia nostra lorem consectetur adipiscing elit. Donec vestibulum justo a diam ultricies pellentesque. Fusce vehicula libero arcu, vitae ornare turpis elementum at. Etiam posuere quam nec ligula dignissim iaculis donec eleifend laoreet ornare. Quisque mattis luctus est, a placerat elit pharetra.</p>
				</div>

				<div class="tab-content" id="tab2">

					<table class="basic-table">
						<tr>
							<th>Weight</th>
							<td>0.5 lbs</td>
						</tr>
					</table>

				</div>

				<div class="tab-content" id="tab3">

					<!-- Reviews -->
					<section class="comments reviews">
						<p class="margin-bottom-10">There are no reviews yet.</p>

						<a href="#small-dialog" class="popup-with-zoom-anim button color margin-left-0">Add Review</a>

						<div id="small-dialog" class="zoom-anim-dialog mfp-hide">
							<h3 class="headline">Add Review</h3><span class="line margin-bottom-25"></span><div class="clearfix"></div>

							<!-- Form -->
							<form id="add-comment" class="add-comment">
								<fieldset>

									<div>
										<label>Name:</label>
										<input type="text" value=""/>
									</div>

									<div>
										<label>Rating:</label>
										<span class="rate">
											<span class="star"></span>
											<span class="star"></span>
											<span class="star"></span>
											<span class="star"></span>
											<span class="star"></span>
										</span>
										<div class="clearfix"></div>
									</div>

									<div class="margin-top-20">
										<label>Email: <span>*</span></label>
										<input type="text" value=""/>
									</div>

									<div>
										<label>Review: <span>*</span></label>
										<textarea cols="40" rows="3"></textarea>
									</div>

								</fieldset>

								<a href="#" class="button color">Add Review</a>
								<div class="clearfix"></div>

							</form>
						</div>

					</section>

				</div>

			</div>
	</div>
</div>



<!-- Related Products -->
<div class="container margin-top-5">

	<!-- Headline -->
	<div class="sixteen columns">
		<h3 class="headline">推荐商品</h3>
		<span class="line margin-bottom-0"></span>
	</div>

	<!-- Products -->
	<div class="products">
        {% for i in shop_recommend %}
		<!-- Product #3 -->
		<div class="four columns">
			<figure class="product">

				<div class="mediaholder">
					<a href="{% url "shop:detail" %}?id={{ i.id }}">
						<img alt="" src="{{ i.image }}"/>
					</a>
					<a href="{% url "shop:detail" %}?id={{ i.id }}" class="product-button"><i class="fa fa-shopping-cart"></i></a>
				</div>

				<a href="product-page.html">
					<section>
						<div class="product-category">{{ i.shop }}</div>
						<h5>{{ i.title }}</h5>
						<div class="product-price">{{ i.price }}</div>
					</section>
				</a>
			</figure>
		</div>
        {% endfor %}


	</div>
</div>

<div class="margin-top-50"></div>


{% endblock %}
<!-- Wrapper / End -->

