{% extends "base.html" %}
{% load staticfiles %}
{% block body %}
<section id="titlebar">
	<!-- Container -->
	<div class="container">

		<div class="eight columns">
			<h2>Shop</h2>
		</div>

		<div class="eight columns">
			<nav id="breadcrumbs">
				<ul>
					<li>你在:</li>
					<li><a href="#">主页</a></li>
					<li>商店</li>
				</ul>
			</nav>
		</div>

	</div>
	<!-- Container / End -->
</section>
<div class="container">

	<!-- Products -->
	<div class="twelve columns left-sidebar-class">

		<!-- Ordering -->
		<div class="ordering">
			<select class="chosen-select-no-single">
				<option value="menu_order" >默认排序</option>
				<option value="popularity" >按人气排序</option>
				<option value="rating" >按平均评级排序</option>
				<option value="date">按新旧程度排序</option>
				<option value="price" >按价格排序：从低到高</option>
				<option value="price-desc" >按价格排序：从高到低</option>
			</select>
		</div>
		<div class="clearfix"></div>

        {% for i in shop_items %}
		<!-- Product #1 -->
		<div class="four shop columns">
			<figure class="product">

				<div class="mediaholder">
					<a href="{% url "shop:detail" %}?id={{ i.id }}">
						<img alt="" src="{{ i.image }}"/>
					</a>
					<a href="{% url "shop:detail" %}?id={{ i.id }}" class="product-button"><i class="fa fa-shopping-cart"></i></a>
				</div>

				<a href="{% url "shop:detail" %}?id={{ i.id }}">
					<section>
						<div class="product-category">{{i.shop}}</div>
						<h5>{{i.title}}</h5>
						<div class="product-price">{{i.price}}</div>
					</section>
				</a>
			</figure>
		</div>
{% endfor %}


		<div class="clearfix"></div>
		<div class="margin-top-40"></div>

		<!-- Pagination -->
		<div class="pagination-container masonry">
			<nav class="pagination">
				<ul>
					<li><a href="#" class="current-page">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
				</ul>
			</nav>

			<nav class="pagination-next-prev">
				<ul>
					<li><a href="#" class="prev"></a></li>
					<li><a href="#" class="next"></a></li>
				</ul>
			</nav>
		</div>

	</div>


	<!-- Sidebar
	================================================== -->
	<div class="four columns">

		<!-- Search Form -->
		<div class="widget search-form">
			<nav class="search">
				<form action="#" method="get">
					<button><i class="fa fa-search"></i></button>
					<input class="search-field" type="text" placeholder="Search for products" value=""/>
				</form>
			</nav>
			<div class="clearfix"></div>
		</div>


		<!-- Cart -->
		<div class="widget">
			<h4 class="headline">购物车</h4>
			<span class="line margin-bottom-30"></span>
			<div class="clearfix"></div>

			<div class="widget_shopping_cart_content">
				<ul class="product_list_widget">

					<li>
						<a href="#" class="image"><img src="{{ shop_items.0.image }}" alt=""></a>
						<div class="product_title">
							<a href="#">{{shop_items.0.title}}</a>
							<div class="quantity">1 × <div class="amount">{{shop_items.0.price}}</div></div>
						</div>
					</li>

				</ul>

                <div class="total"><strong>总计:</strong><p class="amount">$2.99 </p>

				<div class="buttons">
					<a href="#" class="button">购物车</a>
					<a href="#" class="button color">支付</a>
				</div>
			</div>
		</div>


	 	<!-- Widget -->
	 	<div class="widget">
			<h4 class="headline">通过价格过滤</h4>
			<span class="line margin-bottom-30"></span>
			<div class="clearfix"></div>

			<div id="price-range">
				<div class="padding-range"><div id="slider-range"></div></div>
				<label for="amount">价格:</label>
				<input type="text" id="amount"/>
				<a href="#" class="button color">过滤</a>
			</div>
			<div class="clearfix"></div>
	 	</div>

	</div>

</div>
<!-- Container / End -->

</div>
<div class="margin-top-5"></div>
{# 获取用户购物车中商品的数目 #}
    <script>
    {#$.get('/shop/cart/count/', function (data) {#}
    {#            // {'res':商品的总数}#}
    {#            $('.product-price').html(data.res)#}
    {#)#}
    </script>
{% endblock %}
